<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="20px"
  fxLayoutGap.lt-md="0px"
  fxLayoutAlign="center center"
  class="container"
>
  <div fxFlex><h2>Product Details</h2></div>
  <div fxFlex>
    <form
      fxFlex="50"
      novalidate
      [formGroup]="manubyDistForm"
      (ngSubmit)="onSubmit()"
      class="form-size"
    >
      <p>
        <mat-form-field style="padding-right: 14px;"
          ><input
            matInput
            formControlName="distID"
            type="text"
            name="distID"
            required
            placeholder="ID"
          />
          <mat-error
            *ngIf="
              manubyDistForm.get('distID').hasError('required') &&
              manubyDistForm.get('distID').touched
            "
          >
            ID is required
          </mat-error>
        </mat-form-field>

        <mat-form-field
          ><input
            matInput
            formControlName="shippingID"
            type="text"
            name="shippingID"
            required
            placeholder="Shipping ID"
          />
          <mat-error
            *ngIf="
              manubyDistForm.get('shippingID').hasError('required') &&
              manubyDistForm.get('shippingID').touched
            "
          >
            Shipping ID is required
          </mat-error>
        </mat-form-field>
      </p>

      <br />
      <button mat-flat-button [disabled]="manubyDistForm.invalid" type="submit">
        Submit
      </button>
    </form>
  </div>
  <div fxFlex>
    <span class="message" *ngIf="successMessage">{{ successMessage }}</span>
  </div>
</div>
