<div class="jumbotron">
  <div id="black"></div>
  <div class="jumbotron-content">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex>
        <h1>
          Blockchain Solutions for<br />
          the pharmaceutical industry
        </h1>
        <hr class="jumbotron-end" />
      </div>
      <div fxFlex>
        <img
          class="img-responsive"
          width="500"
          alt="Pharma Logo"
          src="src/assets/images/logo.png"
        />
      </div>
    </div>
  </div>
</div>
