<div>
  <h2>Salts Available</h2>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Salt 1
        </mat-panel-title>
        <mat-panel-description>
          Click to view Details
        </mat-panel-description>
      </mat-expansion-panel-header>

      <h2>Details here</h2>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Salt 2
        </mat-panel-title>
        <mat-panel-description>
          Click to view Details
        </mat-panel-description>
      </mat-expansion-panel-header>
      <h2>Details here</h2>
    </mat-expansion-panel>
  </mat-accordion>
</div>
