<div>
  <h2>Salts Available</h2>
  <mat-accordion class="example-headers-align" multi *ngIf="listOfRawMaterial">
    <mat-expansion-panel
      *ngFor="let rawMaterial of listOfRawMaterial; let i = index"
    >
      <mat-expansion-panel-header (click)="toggleDescription()">
        <mat-panel-title>
          <h4>{{ i + 1 }}. {{ rawMaterial.salt.name | uppercase }}</h4>
        </mat-panel-title>
        <mat-panel-description *ngIf="this.isDescriptionVisible">
          Click to view Details
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="listDetails">
        <mat-list dense>
          <mat-list-item class="key-value-pair">
            <span class="key">Amount :&nbsp; </span>
            <span class="value">{{ rawMaterial.amount }}</span>
          </mat-list-item>
          <mat-list-item class="key-value-pair">
            <span class="key">Supplier :&nbsp; </span>
            <span class="value">{{ rawMaterial.supplierId }}</span>
          </mat-list-item>
          <mat-list-item class="key-value-pair">
            <span class="key">Date Produced :&nbsp; </span>
            <span class="value">{{
              rawMaterial.soldToManufDate | date: "dd/MM/yyyy"
            }}</span>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  <div [hidden]="listOfRawMaterial || !isFound">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
  <div *ngIf="!isFound" [style.textAlign]="'center'" [style.color]="'grey'">
    <h4>Not Authorized to view this!</h4>
  </div>
</div>
