<div>
  <h2>Salts Available</h2>
  <mat-accordion class="example-headers-align" multi *ngIf="listOfRawMaterial">
    <mat-expansion-panel
      *ngFor="let rawMaterial of listOfRawMaterial; let i = index"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h4>{{ i + 1 }}. {{ rawMaterial.salt.name | uppercase }}</h4>
        </mat-panel-title>
        <mat-panel-description>
          Click to view Details
        </mat-panel-description>
      </mat-expansion-panel-header>

      <pre>{{ rawMaterial | json }}</pre>
    </mat-expansion-panel>
  </mat-accordion>
  <div [hidden]="listOfRawMaterial">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>
