.full-width {
  width: 95%;
}

.half-width {
  width: 45%;
}

.form-size {
  width: 75%;
}

form {
  padding: 30px;
}

.container {
  margin: 15px;
  border: 2px solid;
  border-radius: 10px;
}

.message {
  color: red;
  padding-left: 30px;
  padding-bottom: 20px;
  font-size: large;
}

.select-text {
  font-family: monospace;
  font-weight: bolder;
}

h2 {
  text-align: center;
}
