<!-- <div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="20px"
  fxLayoutGap.lt-md="0px"
  fxLayoutAlign="center center"
  class="container"
>
  <div fxFlex><h2>Welcome to Pharma-Chain Services</h2></div>
  <div fxFlex>
    <form
      fxFlex="50"
      novalidate
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="form-size"
    >
      <h3>Login</h3>
      <p>
        <mat-form-field style="padding-right: 14px;"
          ><input
            matInput
            formControlName="username"
            type="text"
            name="username"
            required
            placeholder="Username"
          />
          <mat-error
            *ngIf="
              loginForm.get('username').hasError('required') &&
              loginForm.get('username').touched
            "
          >
            Username is required
          </mat-error>
        </mat-form-field>
        <mat-form-field
          ><input
            matInput
            formControlName="password"
            type="password"
            name="username"
            required
            placeholder="Password"
          />
          <mat-error
            *ngIf="
              loginForm.get('password').hasError('required') &&
              loginForm.get('password').touched
            "
          >
            Username is required
          </mat-error>
        </mat-form-field>
      </p>
      <mat-form-field>
        <mat-label>Your Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role">
            <span class="select-text">{{ role | uppercase }}</span>
          </mat-option>
        </mat-select>
        
      </mat-form-field>
      <br />
      <button mat-flat-button [disabled]="loginForm.invalid" type="submit">
        Submit
      </button>
    </form>
  </div>
  <div fxFlex>
    <span class="message" *ngIf="successMessage">{{ successMessage }}</span>
  </div>
</div> !-->

<div style="text-align:center">
  <img class="img-responsive" width="300" alt="Pharma Logo" src="src/assets/images/logo.png">
</div>  
<div class="welcomeHeader">
  <h1> Welcome to Pharma Chain Services! </h1>
</div>
<mat-card>
  <mat-card-content>
    <form novalidate
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="form-size">
      <h2>Log In</h2>
      <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error>
      <mat-form-field class="full-width-input">
        <input matInput
        formControlName="username"
        type="text"
        name="username"
        required
        placeholder="Username">
        <mat-error  *ngIf="
        loginForm.get('username').hasError('required') &&
        loginForm.get('username').touched
      ">
          Please provide a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input matInput
        formControlName="password"
        type="password"
        name="username"
        required
        placeholder="Password">
        <mat-error *ngIf="
        loginForm.get('password').hasError('required') &&
        loginForm.get('password').touched
      ">
          Please provide a valid password
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Your Role</mat-label>
        <mat-select formControlName="role" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let role of roles" [value]="role">
            <span class="select-text">{{ role | uppercase }}</span>
          </mat-option>
        </mat-select>
        
      </mat-form-field>
      <button mat-raised-button color="primary">Login</button>
    </form>

    <div class="message">
      <span *ngIf="successMessage">{{ successMessage }}</span>
    </div>
  </mat-card-content>
</mat-card>
