<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="20px"
  fxLayoutGap.lt-md="0px"
  fxLayoutAlign="center center"
  class="container"
>
  <div fxFlex><h2>Product Details</h2></div>
  <div fxFlex>
    <form
      fxFlex="50"
      novalidate
      [formGroup]="exportToPharma"
      (ngSubmit)="onSubmit()"
      class="form-size"
    >
      <p>
        <mat-form-field style="padding-right: 14px;"
          ><input
            matInput
            formControlName="pharmacistID"
            type="text"
            name="pharmacistID"
            required
            placeholder="Pharma ID"
          />
          <mat-error
            *ngIf="
              exportToPharma.get('pharmacistID').hasError('required') &&
              exportToPharma.get('pharmacistID').touched
            "
          >
            Pharmacist ID is required
          </mat-error>
        </mat-form-field>

        <mat-form-field style="padding-right: 14px;"
          ><input
            matInput
            formControlName="distributorId"
            type="text"
            name="distributorId"
            required
            placeholder="Distributor ID"
          />
          <mat-error
            *ngIf="
              exportToPharma.get('distributorId').hasError('required') &&
              exportToPharma.get('distributorId').touched
            "
          >
            Distributor ID is required
          </mat-error>
        </mat-form-field>

        <mat-form-field
          ><input
            matInput
            formControlName="batchId"
            type="text"
            name="batchId"
            required
            placeholder="Batch ID"
          />
          <mat-error
            *ngIf="
              exportToPharma.get('batchId').hasError('required') &&
              exportToPharma.get('batchId').touched
            "
          >
            Batch ID is required
          </mat-error>
        </mat-form-field>
      </p>

      <br />
      <button mat-flat-button [disabled]="exportToPharma.invalid" type="submit">
        Submit
      </button>
    </form>
  </div>
  <!-- <div fxFlex>
    <span class="message" *ngIf="successMessage">{{ successMessage }}</span>
  </div> -->
</div>
