<div
  fxLayout="row"
  fxLayout.lt-md="column"
  fxLayoutGap="20px"
  fxLayoutGap.lt-md="0px"
  fxLayoutAlign="center center"
  class="container"
>
  <div fxFlex><h2>Product Details</h2></div>
  <div fxFlex>
    <form
      fxFlex="50"
      novalidate
      [formGroup]="exportToPharma"
      (ngSubmit)="onSubmit()"
      class="form-size"
    >
      <p>
        <mat-form-field style="padding-right: 14px;"
          ><input
            matInput
            formControlName="pharmaID"
            type="text"
            name="pharmaID"
            required
            placeholder="Pharma ID"
          />
          <mat-error
            *ngIf="
              exportToPharma.get('pharmaID').hasError('required') &&
              exportToPharma.get('pharmaID').touched
            "
          >
            ID is required
          </mat-error>
        </mat-form-field>

        <mat-form-field style="padding-right: 14px;"
          ><input
            matInput
            formControlName="distID"
            type="number"
            name="distID"
            required
            placeholder="Distributor ID"
          />
          <mat-error
            *ngIf="
              exportToPharma.get('distID').hasError('required') &&
              exportToPharma.get('distID').touched
            "
          >
            Shipping ID is required
          </mat-error>
        </mat-form-field>

        <mat-form-field
          ><input
            matInput
            formControlName="batchID"
            type="text"
            name="batchID"
            required
            placeholder="Batch ID"
          />
          <mat-error
            *ngIf="
              exportToPharma.get('batchID').hasError('required') &&
              exportToPharma.get('batchID').touched
            "
          >
            Batch ID is required
          </mat-error>
        </mat-form-field>
      </p>

      <br />
      <button mat-flat-button [disabled]="exportToPharma.invalid" type="submit">
        Submit
      </button>
    </form>
  </div>
  <!-- <div fxFlex>
    <span class="message" *ngIf="successMessage">{{ successMessage }}</span>
  </div> -->
</div>
