p {
  font-family: Lato;
}

.entry {
  display: inline-block;
  color: black;
  font-weight: 500;
  width: min-content;
  min-width: fit-content;
  max-width: auto;
}

.mat-spinner {
  position: relative;
  margin-left: 50%;
  margin-right: 50%;
}

.nobull {
  list-style-type: none;
 }
 .ce
 {
   text-align: center;
 }