<div *ngIf="drugDetails" class="drug-detail">
  <!-- <pre>{{ drugDetails | json }}</pre> -->
  <table>
    <h1 class="ce">Medicine Details</h1>
    <tr>
      <td><b>Name of the Drug: </b> {{ drugDetails._name }}</td>
    </tr>
    <tr>
      <td><b>Amount of the Drug: </b> {{ drugDetails._amount }} Tablets</td>
    </tr>
    <tr>
      <td><b>Customer ID: </b> {{ drugDetails._customerID }}</td>
    </tr>
    <tr>
      <td><b>Date of purchase: </b> {{ drugDetails._dateSold | date }}</td>
    </tr>
  </table>
</div>

<mgl-timeline
  [toggle]="toggle"
  [alternate]="alternate"
  [side]="side"
  *ngIf="entries"
>
  <mgl-timeline-entry
    *ngFor="let entry of entries; let i = index"
    (expand)="onExpandEntry($event, i)"
  >
    <mgl-timeline-entry-header (click)="onHeaderClick($event)">
      <div class="entry">{{ stages[i] }}</div>
    </mgl-timeline-entry-header>
    <mgl-timeline-entry-content
      [expandAnimationTiming]="contentAnimation ? '200ms ease' : '0ms'"
      [collapseAnimationTiming]="contentAnimation ? '100ms ease' : '0ms'"
    >
      <pre *ngIf="i == 0">
      <table>
        <h3 class="ce">Raw Materials Used</h3>
        <tr><td>
          <b>Name of the Supplier: </b>  {{entry|json}}</td></tr>
        <li *ngFor="let salt of entry.value._salts;let j = index" type="none" > 
          <tr><td>
            <b>Salt Name: </b> {{entry.value._salts[j].salt.name}}</td></tr>     
          <tr><td>
            <b>Number of salt units supplied: </b> {{entry.value._salts[j].amount}}</td></tr>
          <tr><td>
            <b>Date of shipping to manufacturer:</b>  {{entry.value._salts[j].soldToManufDate | date:'yyyy-MM-dd HH:mm'}}</td></tr>    
        </li>
        </table>
    </pre>

      <pre *ngIf="i == 1">
      <table>
        <h3 class="ce">Manufacturing Details</h3>
        <tr><td>
          <b>Organisation Name: </b> {{entry.value._manufacturer.organizationName}}</td></tr>
        <tr><td>
          <b>Address:</b> {{entry.value._manufacturer.address}}</td></tr>
        <tr><td>
          <b>Authority Number: </b> {{entry.value._manufacturer.authorityNumber}}</td></tr>
        <tr><td>
          <b>FDA License Number: </b> {{entry.value._manufacturer.FDALicenseNumber}}</td></tr>
        <tr><td>
          <b>Manufacturing Date: </b> {{entry.value._manufacturingDate}}</td></tr>
        <tr><td>
          <b>Number of drug units manufactured: </b> {{entry.value._amount}}</td></tr>      
        <tr><td>
          <b>Date of Shipping to Distributor:</b> {{entry.value._dateShippedFromManufacturer}}</td></tr>
      </table>  
    </pre>

      <pre *ngIf="i == 2">
      <table>
        <tr><td>
          <b>Name of Distributor: </b> {{entry.value._distributor.organizationName}}</td></tr> 
        <tr><td>
          <b>Address of Distributor: </b>{{entry.value._distributor.address}}</td></tr>   
        <tr><td>
          <b>Shipping ID:</b> {{entry.value._shippingId}}</td></tr>
        <tr><td>
          <b>Date the shipment was received by Distributor: </b> {{entry.value._dateReceivedByDistributor}}</td></tr>  
        <tr><td>
          <b>Number of batch units received: </b> {{entry.value._distributor.batchReceived}}</td></tr>
        <tr><td>
          <b>Number of batch units shipped: </b> {{entry.value._distributor.batchShipped}}</td></tr>
      </table>  
    </pre>

      <pre *ngIf="i == 3">
      <table class="nobull">
        <tr><td>
          <b>Name of Pharmacy: </b> {{entry.value._pharmacist.organizationName}}</td></tr> 
        <tr><td>
          <b>Address:</b> {{entry.value._pharmacist.address}}</td></tr>   
        <tr><td>
          <b>Authority Number:</b> {{entry.value._pharmacist.authorityNumber}}</td></tr>          
        <tr><td>
          <b>Date on which batch was received by Pharmacist: </b> {{entry.value._dateReceivedByPharmacist}}</td></tr>  
      </table>
    </pre>

      <pre *ngIf="i == 4">
      <table class="nobull">
        <h3 class="ce">Drug Details</h3>
        <tr><td>
          <b>Scientific Name of the Drug: </b> {{entry.value._name}}</td></tr>
        <tr><td>
          <b>Generic Name of the Drug: </b> {{entry.value._genericName}}</td></tr>
        <tr><td>
          <b>Expiry Date:</b> {{entry.value._expiryDate}}</td></tr>
        <tr><td>
          <b>Drug Batches Available: </b> {{entry.value._pharmacist.drugBatchsAvailable}}</td></tr>
        <tr><td>
          <b>Drug Batches Sold: </b> {{entry.value._pharmacist.drugsSold}}</td></tr>
      </table>
    </pre>
    </mgl-timeline-entry-content>

    <mgl-timeline-entry-dot
      [class]="color ? 'primary' : 'accent'"
      [size]="size"
      (click)="onDotClick($event)"
      [expandAnimationTiming]="dotAnimation ? '200ms ease' : '0ms'"
      [collapseAnimationTiming]="dotAnimation ? '100ms ease' : '0ms'"
    ></mgl-timeline-entry-dot>

    <mgl-timeline-entry-side class="date"
      >Stage {{ i + 1 }}</mgl-timeline-entry-side
    >
  </mgl-timeline-entry>
</mgl-timeline>

<div [hidden]="entries || notFound">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="notFound" class="not-found">
  <i class="material-icons" style="font-size: 300px; color: grey;"
    >error_outline</i
  >
  <h1>No History Found!</h1>
  <h2>Check ID again!</h2>
</div>
