p {
  font-family: Lato;
}

.entry {
  display: inline-block;
  color: black;
  font-weight: 500;
  width: min-content;
  min-width: fit-content;
  max-width: auto;
}

.mat-spinner {
  position: relative;
  margin-top: 6%;
  margin-left: 45%;
  margin-right: 50%;
}

.nobull {
  list-style-type: none;
}
.ce {
  text-align: center;
  font-family: Arial;
}
.not-found {
  text-align: center;
  color: grey;
}

li {
  padding-block: 5px;
  background: lightgray;
}
li:nth-child(odd) {
  background: pink;
}
li {
  margin-bottom: 5px;
  margin-top: 1px;

  //padding: 0.005em;
}
table {
  margin: 0px auto;
}

tr {
  font-family: Arial;
  // padding-bottom: 0px;
  // padding-block: 5px;
}

.drug-detail {
  padding: 10px;
}

.section-timeline {
  padding: 20px;
}
