.angular-logo {
  height: 50px;
}
button {
  margin: 6px;
}

.logo-text {
  text-decoration: none;
  color: rgb(214, 214, 247);
  font-family: "Ubuntu";
}
.logo-text:hover {
  color: rgb(30, 6, 165);
}
