<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/dashboard" class="logo-text">
      <!-- <img src="../../assets/logo.png" class="angular-logo" /> -->
      Pharma Chain
    </a>
    <span class="flex-spacer"></span>
    <button mat-flat-button routerLink="/history" color="accent">
      All transactions
    </button>
    <button mat-flat-button routerLink="/drugHistory" color="accent">
      Get History
    </button>
    <span *ngIf="!isUserLoggedIn"
      ><button mat-stroked-button routerLink="/login">
        Login
      </button></span
    >
    <span *ngIf="isUserLoggedIn"
      ><button mat-stroked-button (click)="logout()">
        Logout
      </button></span
    >
  </mat-toolbar-row>
</mat-toolbar>
