@import url("https://fonts.googleapis.com/css?family=Sniglet");
/*basic reset*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Sniglet;
  font-weight: 300;
  font-size: 14px;
  background: #1976d2;
}

.form_wrapper {
  box-sizing: border-box;
  margin: 100px auto;
  width: 400px;
  padding-bottom: 2px;
  background: white;
  box-shadow: 0 5px 15px 1px rgba(0, 0, 0, 0.6),
    0 0 200px 1px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.form_wrapper h3 {
  margin-bottom: 40px;
  padding: 20px;
  background: #eee;
  border: 1px solid #ddd;
  text-align: center;
}

input {
  margin-bottom: 10px;
}

input[type="password"],
input[type="text"] {
  width: 100%;
  border: 0px;
  padding: 5px 0px;
  background: rgba(0, 0, 0, 0);
  border-bottom: 1px solid teal;
}

.element-wrapper {
  position: relative;
  margin-bottom: 40px;
  padding: 0px 20px;
}

label {
  position: absolute;
  top: 0px;
  left: 20px;
  font-size: 20px;
  transform-origin: top left;
  transition: transform ease-out 0.2s;
}

input:focus {
  outline: 0;
  border-bottom: 2px solid #1976d2;
}

input:focus ~ label,
input:valid ~ label {
  color: teal;
  transform: scale(0.8) translate(-10px, -25px);
}

input[type="submit"] {
  width: 100%;
  padding: 15px 0px;
  background: rgba(00, 100, 200, 0.3);
  outline: none;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  font-size: 15px;
}

input[type="submit"]:hover {
  border: 1px solid white;
  background: rgba(100, 100, 200, 0.3);
}
