.container {
  padding: 30px;
  text-align: center;
}

.menu-container {
  padding-left: 30px;
  padding-right: 30px;
}

.menu-card {
  background-color: #ff4081;
  border-radius: 10px;
  color: white;
  font-size: 50px;
  padding: 5px;
}
.bottom-container {
  padding: 30px;
}
.mat-button-class {
  margin: 8px;
}
