.container {
    padding: 30px 75px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.mat-card {
    border-radius: 10px;
    margin-bottom: 20px;
}

.mat-expansion-panel {
    margin-bottom: 15px;
}

